<header class="header">
  <div class="header-wrap">
    <a href="" class="logo-header">MIMIHO</a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="item">
          <a href="" class="nav-link"
            >Ресторан
            <span class="icon-wrap"
              ><svg width="12px" height="20px" class="icon">
                <use href="./images/symbol-defs.svg#phone"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="item">
          <a href="" class="nav-link"
            >Готель
            <span class="icon-wrap">
              <svg width="12px" height="20px" class="icon">
                <use href="./images/symbol-defs.svg#phone"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <a href="https://goo.gl/maps/Fd1qQEYNb8nBpjtNA" class="address-link">
    <span class="icon-wrap"
      ><svg width="10px" height="16px" class="icon">
        <use href="./images/symbol-defs.svg#point"></use></svg
    ></span>
    <address class="header-address">
      Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
    </address></a
  >
</header>
