<header class="header">
  <div class="header-wrap">
    <a href="" class="logo-header">MIMIHO</a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="item">
          <a href="" class="nav-link">Ресторан </a>
          <a href="tel:0955559533" class="tel-wrap"
            ><svg width="12px" height="20px" class="icon">
              <use href="./images/symbol-defs.svg#phone"></use>
            </svg>
            <span class="tel">095 555 95 33</span>
          </a>
        </li>
        <li class="item">
          <a href="" class="nav-link">Готель </a>
          <div class="tel-wrap">
            <a href="tel:0668491089" class="tel-subwrap">
              <svg width="12px" height="20px" class="icon">
                <use href="./images/symbol-defs.svg#phone"></use>
              </svg>
              <span class="tel">066 849 10 89</span>
            </a>
            <a href="tel:0668491089" class="tel-subwrap">
              <span class="tel">066 849 10 89</span>
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <ul class="social-list">
      <li>
        <a href="">
          <svg width="24px" height="24px" class="icon">
            <use href="./images/symbol-defs.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg width="24px" height="24px" class="icon">
            <use href="./images/symbol-defs.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg width="24px" height="24px" class="icon">
            <use href="./images/symbol-defs.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <a href="https://goo.gl/maps/Fd1qQEYNb8nBpjtNA" class="address-link">
    <span class="icon-wrap"
      ><svg width="10px" height="16px" class="icon">
        <use href="./images/symbol-defs.svg#point"></use></svg
    ></span>
    <address class="header-address">
      Україна, м. Полтава, <br />
      вул. Маршала Бірюзова, 15
    </address></a
  >
</header>
